In [158]:
import pandas as pd
import numpy as np
import pickle

In [61]:
df = pd.read_csv("imdb_tmdb.csv")

In [62]:
df.head(2)

,budget,genres,homepage,tmdb_id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,imdb_id
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",tt0154182
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",tt0449088

In [63]:
new_df = df[["genres", "keywords", "title", "overview", "tagline", "cast", "crew", "imdb_id"]]

In [64]:
new_df.head()

,genres,keywords,title,overview,tagline,cast,crew,imdb_id
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",tt0154182
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",tt0449088
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",tt1928272
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,The Legend Ends,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",tt1345836
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",tt0401729

In [65]:
new_df.isna().sum()

genres        0
keywords      0
title         0
overview      2
tagline     765
cast          0
crew          0
imdb_id       0
dtype: int64

In [66]:
new_df["genres"][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [67]:
new_df["title"] = new_df["title"].apply(lambda x: x.lower())

C:\Users\NITIN\AppData\Local\Temp\ipykernel_14320\3357363316.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["title"] = new_df["title"].apply(lambda x: x.lower())

In [68]:
import ast
def extract_values(my_list):
    my_list = ast.literal_eval(my_list)
    y = []
    n = len(my_list)
    for i in range(n):
        y.append(my_list[i]["name"].lower()) 
    return y

In [69]:
new_df["genres"] = new_df["genres"].apply(extract_values)

C:\Users\NITIN\AppData\Local\Temp\ipykernel_14320\785424176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["genres"] = new_df["genres"].apply(extract_values)

In [70]:
new_df

,genres,keywords,title,overview,tagline,cast,crew,imdb_id
0,"[action, adventure, fantasy, science fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",tt0154182
1,"[adventure, fantasy, action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",pirates of the caribbean: at world's end,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",tt0449088
2,"[action, adventure, crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",spectre,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",tt1928272
3,"[action, crime, drama, thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",the dark knight rises,Following the death of District Attorney Harve...,The Legend Ends,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",tt1345836
4,"[action, adventure, science fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",john carter,"John Carter is a war-weary, former military ca...","Lost in our world, found in another.","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",tt0401729
...,...,...,...,...,...,...,...,...
4570,"[foreign, thriller]",[],cavite,"Adam, a security guard, travels from Californi...",NaN,[],"[{""credit_id"": ""52fe475dc3a368484e0c319f"", ""de...",tt0428303
4571,"[action, crime, thriller]","[{""id"": 5616, ""name"": ""united states\u2013mexi...",el mariachi,El Mariachi just wants to play his guitar and ...,"He didn't come looking for trouble, but troubl...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de...",tt0104815
4572,"[comedy, romance]",[],newlyweds,A newlywed couple's honeymoon is upended by th...,A newlywed couple's honeymoon is upended by th...,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de...",tt1880418
4573,[],[],shanghai calling,When ambitious New York attorney Sam is sent t...,A New Yorker in Shanghai,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de...",tt2070597
4574,[documentary],"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",my date with drew,Ever since the second grade when he first saw ...,NaN,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de...",tt0378407

In [71]:
new_df["keywords"] = new_df["keywords"].apply(extract_values)

C:\Users\NITIN\AppData\Local\Temp\ipykernel_14320\3094752017.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["keywords"] = new_df["keywords"].apply(extract_values)

In [72]:
new_df["keywords"][0]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [73]:
new_df.head(3)

,genres,keywords,title,overview,tagline,cast,crew,imdb_id
0,"[action, adventure, fantasy, science fiction]","[culture clash, future, space war, space colon...",avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",tt0154182
1,"[adventure, fantasy, action]","[ocean, drug abuse, exotic island, east india ...",pirates of the caribbean: at world's end,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",tt0449088
2,"[action, adventure, crime]","[spy, based on novel, secret agent, sequel, mi...",spectre,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",tt1928272

In [74]:
new_df["cast"][0]

'[{"cast_id": 242, "character": "Jake Sully", "credit_id": "5602a8a7c3a3685532001c9a", "gender": 2, "id": 65731, "name": "Sam Worthington", "order": 0}, {"cast_id": 3, "character": "Neytiri", "credit_id": "52fe48009251416c750ac9cb", "gender": 1, "id": 8691, "name": "Zoe Saldana", "order": 1}, {"cast_id": 25, "character": "Dr. Grace Augustine", "credit_id": "52fe48009251416c750aca39", "gender": 1, "id": 10205, "name": "Sigourney Weaver", "order": 2}, {"cast_id": 4, "character": "Col. Quaritch", "credit_id": "52fe48009251416c750ac9cf", "gender": 2, "id": 32747, "name": "Stephen Lang", "order": 3}, {"cast_id": 5, "character": "Trudy Chacon", "credit_id": "52fe48009251416c750ac9d3", "gender": 1, "id": 17647, "name": "Michelle Rodriguez", "order": 4}, {"cast_id": 8, "character": "Selfridge", "credit_id": "52fe48009251416c750ac9e1", "gender": 2, "id": 1771, "name": "Giovanni Ribisi", "order": 5}, {"cast_id": 7, "character": "Norm Spellman", "credit_id": "52fe48009251416c750ac9dd", "gender": 2, "id": 59231, "name": "Joel David Moore", "order": 6}, {"cast_id": 9, "character": "Moat", "credit_id": "52fe48009251416c750ac9e5", "gender": 1, "id": 30485, "name": "CCH Pounder", "order": 7}, {"cast_id": 11, "character": "Eytukan", "credit_id": "52fe48009251416c750ac9ed", "gender": 2, "id": 15853, "name": "Wes Studi", "order": 8}, {"cast_id": 10, "character": "Tsu\'Tey", "credit_id": "52fe48009251416c750ac9e9", "gender": 2, "id": 10964, "name": "Laz Alonso", "order": 9}, {"cast_id": 12, "character": "Dr. Max Patel", "credit_id": "52fe48009251416c750ac9f1", "gender": 2, "id": 95697, "name": "Dileep Rao", "order": 10}, {"cast_id": 13, "character": "Lyle Wainfleet", "credit_id": "52fe48009251416c750ac9f5", "gender": 2, "id": 98215, "name": "Matt Gerald", "order": 11}, {"cast_id": 32, "character": "Private Fike", "credit_id": "52fe48009251416c750aca5b", "gender": 2, "id": 154153, "name": "Sean Anthony Moran", "order": 12}, {"cast_id": 33, "character": "Cryo Vault Med Tech", "credit_id": "52fe48009251416c750aca5f", "gender": 2, "id": 397312, "name": "Jason Whyte", "order": 13}, {"cast_id": 34, "character": "Venture Star Crew Chief", "credit_id": "52fe48009251416c750aca63", "gender": 2, "id": 42317, "name": "Scott Lawrence", "order": 14}, {"cast_id": 35, "character": "Lock Up Trooper", "credit_id": "52fe48009251416c750aca67", "gender": 2, "id": 986734, "name": "Kelly Kilgour", "order": 15}, {"cast_id": 36, "character": "Shuttle Pilot", "credit_id": "52fe48009251416c750aca6b", "gender": 0, "id": 1207227, "name": "James Patrick Pitt", "order": 16}, {"cast_id": 37, "character": "Shuttle Co-Pilot", "credit_id": "52fe48009251416c750aca6f", "gender": 0, "id": 1180936, "name": "Sean Patrick Murphy", "order": 17}, {"cast_id": 38, "character": "Shuttle Crew Chief", "credit_id": "52fe48009251416c750aca73", "gender": 2, "id": 1019578, "name": "Peter Dillon", "order": 18}, {"cast_id": 39, "character": "Tractor Operator / Troupe", "credit_id": "52fe48009251416c750aca77", "gender": 0, "id": 91443, "name": "Kevin Dorman", "order": 19}, {"cast_id": 40, "character": "Dragon Gunship Pilot", "credit_id": "52fe48009251416c750aca7b", "gender": 2, "id": 173391, "name": "Kelson Henderson", "order": 20}, {"cast_id": 41, "character": "Dragon Gunship Gunner", "credit_id": "52fe48009251416c750aca7f", "gender": 0, "id": 1207236, "name": "David Van Horn", "order": 21}, {"cast_id": 42, "character": "Dragon Gunship Navigator", "credit_id": "52fe48009251416c750aca83", "gender": 0, "id": 215913, "name": "Jacob Tomuri", "order": 22}, {"cast_id": 43, "character": "Suit #1", "credit_id": "52fe48009251416c750aca87", "gender": 0, "id": 143206, "name": "Michael Blain-Rozgay", "order": 23}, {"cast_id": 44, "character": "Suit #2", "credit_id": "52fe48009251416c750aca8b", "gender": 2, "id": 169676, "name": "Jon Curry", "order": 24}, {"cast_id": 46, "character": "Ambient Room Tech", "credit_id": "52fe48009251416c750aca8f", "gender": 0, "id": 1048610, "name": "Luke Hawker", "order": 25}, {"cast_id": 47, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48009251416c750aca93", "gender": 0, "id": 42288, "name": "Woody Schultz", "order": 26}, {"cast_id": 48, "character": "Horse Clan Leader", "credit_id": "52fe48009251416c750aca97", "gender": 2, "id": 68278, "name": "Peter Mensah", "order": 27}, {"cast_id": 49, "character": "Link Room Tech", "credit_id": "52fe48009251416c750aca9b", "gender": 0, "id": 1207247, "name": "Sonia Yee", "order": 28}, {"cast_id": 50, "character": "Basketball Avatar / Troupe", "credit_id": "52fe48009251416c750aca9f", "gender": 1, "id": 1207248, "name": "Jahnel Curfman", "order": 29}, {"cast_id": 51, "character": "Basketball Avatar", "credit_id": "52fe48009251416c750acaa3", "gender": 0, "id": 89714, "name": "Ilram Choi", "order": 30}, {"cast_id": 52, "character": "Na\'vi Child", "credit_id": "52fe48009251416c750acaa7", "gender": 0, "id": 1207249, "name": "Kyla Warren", "order": 31}, {"cast_id": 53, "character": "Troupe", "credit_id": "52fe48009251416c750acaab", "gender": 0, "id": 1207250, "name": "Lisa Roumain", "order": 32}, {"cast_id": 54, "character": "Troupe", "credit_id": "52fe48009251416c750acaaf", "gender": 1, "id": 83105, "name": "Debra Wilson", "order": 33}, {"cast_id": 57, "character": "Troupe", "credit_id": "52fe48009251416c750acabb", "gender": 0, "id": 1207253, "name": "Chris Mala", "order": 34}, {"cast_id": 55, "character": "Troupe", "credit_id": "52fe48009251416c750acab3", "gender": 0, "id": 1207251, "name": "Taylor Kibby", "order": 35}, {"cast_id": 56, "character": "Troupe", "credit_id": "52fe48009251416c750acab7", "gender": 0, "id": 1207252, "name": "Jodie Landau", "order": 36}, {"cast_id": 58, "character": "Troupe", "credit_id": "52fe48009251416c750acabf", "gender": 0, "id": 1207254, "name": "Julie Lamm", "order": 37}, {"cast_id": 59, "character": "Troupe", "credit_id": "52fe48009251416c750acac3", "gender": 0, "id": 1207257, "name": "Cullen B. Madden", "order": 38}, {"cast_id": 60, "character": "Troupe", "credit_id": "52fe48009251416c750acac7", "gender": 0, "id": 1207259, "name": "Joseph Brady Madden", "order": 39}, {"cast_id": 61, "character": "Troupe", "credit_id": "52fe48009251416c750acacb", "gender": 0, "id": 1207262, "name": "Frankie Torres", "order": 40}, {"cast_id": 62, "character": "Troupe", "credit_id": "52fe48009251416c750acacf", "gender": 1, "id": 1158600, "name": "Austin Wilson", "order": 41}, {"cast_id": 63, "character": "Troupe", "credit_id": "52fe48019251416c750acad3", "gender": 1, "id": 983705, "name": "Sara Wilson", "order": 42}, {"cast_id": 64, "character": "Troupe", "credit_id": "52fe48019251416c750acad7", "gender": 0, "id": 1207263, "name": "Tamica Washington-Miller", "order": 43}, {"cast_id": 65, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadb", "gender": 1, "id": 1145098, "name": "Lucy Briant", "order": 44}, {"cast_id": 66, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acadf", "gender": 2, "id": 33305, "name": "Nathan Meister", "order": 45}, {"cast_id": 67, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae3", "gender": 0, "id": 1207264, "name": "Gerry Blair", "order": 46}, {"cast_id": 68, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acae7", "gender": 2, "id": 33311, "name": "Matthew Chamberlain", "order": 47}, {"cast_id": 69, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaeb", "gender": 0, "id": 1207265, "name": "Paul Yates", "order": 48}, {"cast_id": 70, "character": "Op Center Duty Officer", "credit_id": "52fe48019251416c750acaef", "gender": 0, "id": 1207266, "name": "Wray Wilson", "order": 49}, {"cast_id": 71, "character": "Op Center Staff", "credit_id": "52fe48019251416c750acaf3", "gender": 2, "id": 54492, "name": "James Gaylyn", "order": 50}, {"cast_id": 72, "character": "Dancer", "credit_id": "52fe48019251416c750acaf7", "gender": 0, "id": 1207267, "name": "Melvin Leno Clark III", "order": 51}, {"cast_id": 73, "character": "Dancer", "credit_id": "52fe48019251416c750acafb", "gender": 0, "id": 1207268, "name": "Carvon Futrell", "order": 52}, {"cast_id": 74, "character": "Dancer", "credit_id": "52fe48019251416c750acaff", "gender": 0, "id": 1207269, "name": "Brandon Jelkes", "order": 53}, {"cast_id": 75, "character": "Dancer", "credit_id": "52fe48019251416c750acb03", "gender": 0, "id": 1207270, "name": "Micah Moch", "order": 54}, {"cast_id": 76, "character": "Dancer", "credit_id": "52fe48019251416c750acb07", "gender": 0, "id": 1207271, "name": "Hanniyah Muhammad", "order": 55}, {"cast_id": 77, "character": "Dancer", "credit_id": "52fe48019251416c750acb0b", "gender": 0, "id": 1207272, "name": "Christopher Nolen", "order": 56}, {"cast_id": 78, "character": "Dancer", "credit_id": "52fe48019251416c750acb0f", "gender": 0, "id": 1207273, "name": "Christa Oliver", "order": 57}, {"cast_id": 79, "character": "Dancer", "credit_id": "52fe48019251416c750acb13", "gender": 0, "id": 1207274, "name": "April Marie Thomas", "order": 58}, {"cast_id": 80, "character": "Dancer", "credit_id": "52fe48019251416c750acb17", "gender": 0, "id": 1207275, "name": "Bravita A. Threatt", "order": 59}, {"cast_id": 81, "character": "Mining Chief (uncredited)", "credit_id": "52fe48019251416c750acb1b", "gender": 0, "id": 1207276, "name": "Colin Bleasdale", "order": 60}, {"cast_id": 82, "character": "Veteran Miner (uncredited)", "credit_id": "52fe48019251416c750acb1f", "gender": 0, "id": 107969, "name": "Mike Bodnar", "order": 61}, {"cast_id": 83, "character": "Richard (uncredited)", "credit_id": "52fe48019251416c750acb23", "gender": 0, "id": 1207278, "name": "Matt Clayton", "order": 62}, {"cast_id": 84, "character": "Nav\'i (uncredited)", "credit_id": "52fe48019251416c750acb27", "gender": 1, "id": 147898, "name": "Nicole Dionne", "order": 63}, {"cast_id": 85, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2b", "gender": 0, "id": 1207280, "name": "Jamie Harrison", "order": 64}, {"cast_id": 86, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb2f", "gender": 0, "id": 1207281, "name": "Allan Henry", "order": 65}, {"cast_id": 87, "character": "Ground Technician (uncredited)", "credit_id": "52fe48019251416c750acb33", "gender": 2, "id": 1207282, "name": "Anthony Ingruber", "order": 66}, {"cast_id": 88, "character": "Flight Crew Mechanic (uncredited)", "credit_id": "52fe48019251416c750acb37", "gender": 0, "id": 1207283, "name": "Ashley Jeffery", "order": 67}, {"cast_id": 14, "character": "Samson Pilot", "credit_id": "52fe48009251416c750ac9f9", "gender": 0, "id": 98216, "name": "Dean Knowsley", "order": 68}, {"cast_id": 89, "character": "Trooper (uncredited)", "credit_id": "52fe48019251416c750acb3b", "gender": 0, "id": 1201399, "name": "Joseph Mika-Hunt", "order": 69}, {"cast_id": 90, "character": "Banshee (uncredited)", "credit_id": "52fe48019251416c750acb3f", "gender": 0, "id": 236696, "name": "Terry Notary", "order": 70}, {"cast_id": 91, "character": "Soldier (uncredited)", "credit_id": "52fe48019251416c750acb43", "gender": 0, "id": 1207287, "name": "Kai Pantano", "order": 71}, {"cast_id": 92, "character": "Blast Technician (uncredited)", "credit_id": "52fe48019251416c750acb47", "gender": 0, "id": 1207288, "name": "Logan Pithyou", "order": 72}, {"cast_id": 93, "character": "Vindum Raah (uncredited)", "credit_id": "52fe48019251416c750acb4b", "gender": 0, "id": 1207289, "name": "Stuart Pollock", "order": 73}, {"cast_id": 94, "character": "Hero (uncredited)", "credit_id": "52fe48019251416c750acb4f", "gender": 0, "id": 584868, "name": "Raja", "order": 74}, {"cast_id": 95, "character": "Ops Centreworker (uncredited)", "credit_id": "52fe48019251416c750acb53", "gender": 0, "id": 1207290, "name": "Gareth Ruck", "order": 75}, {"cast_id": 96, "character": "Engineer (uncredited)", "credit_id": "52fe48019251416c750acb57", "gender": 0, "id": 1062463, "name": "Rhian Sheehan", "order": 76}, {"cast_id": 97, "character": "Col. Quaritch\'s Mech Suit (uncredited)", "credit_id": "52fe48019251416c750acb5b", "gender": 0, "id": 60656, "name": "T. J. Storm", "order": 77}, {"cast_id": 98, "character": "Female Marine (uncredited)", "credit_id": "52fe48019251416c750acb5f", "gender": 0, "id": 1207291, "name": "Jodie Taylor", "order": 78}, {"cast_id": 99, "character": "Ikran Clan Leader (uncredited)", "credit_id": "52fe48019251416c750acb63", "gender": 1, "id": 1186027, "name": "Alicia Vela-Bailey", "order": 79}, {"cast_id": 100, "character": "Geologist (uncredited)", "credit_id": "52fe48019251416c750acb67", "gender": 0, "id": 1207292, "name": "Richard Whiteside", "order": 80}, {"cast_id": 101, "character": "Na\'vi (uncredited)", "credit_id": "52fe48019251416c750acb6b", "gender": 0, "id": 103259, "name": "Nikie Zambo", "order": 81}, {"cast_id": 102, "character": "Ambient Room Tech / Troupe", "credit_id": "52fe48019251416c750acb6f", "gender": 1, "id": 42286, "name": "Julene Renee", "order": 82}]'

In [75]:
def extract_cast_crew(my_list):
    y = []
    for i in range(3):
        if isinstance(my_list, str):
            my_list = ast.literal_eval(my_list)
        if len(my_list) > i:
            y.append(my_list[i]["name"])
    return y

new_df["cast"] = new_df["cast"].apply(extract_cast_crew)
new_df["crew"] = new_df["crew"].apply(extract_cast_crew)

C:\Users\NITIN\AppData\Local\Temp\ipykernel_14320\4111137708.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["cast"] = new_df["cast"].apply(extract_cast_crew)
C:\Users\NITIN\AppData\Local\Temp\ipykernel_14320\4111137708.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["crew"] = new_df["crew"].apply(extract_cast_crew)

In [76]:
new_df["cast"]

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, LÃ©a Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4570                                                   []
4571    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4572         [Edward Burns, Kerry BishÃ©, Marsha Dietlein]
4573            [Daniel Henney, Eliza Coupe, Bill Paxton]
4574    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4575, dtype: object

In [77]:
new_df["crew"]

0       [Stephen E. Rivkin, Rick Carter, Christopher B...
1       [Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...
2               [Thomas Newman, Sam Mendes, Anna Pinnock]
3         [Hans Zimmer, Charles Roven, Christopher Nolan]
4         [Andrew Stanton, Andrew Stanton, John Lasseter]
                              ...
4570                      [Neill Dela Llana, Ian Gamazon]
4571    [Robert Rodriguez, Robert Rodriguez, Robert Ro...
4572           [Edward Burns, Edward Burns, Edward Burns]
4573                           [Daniel Hsia, Daniel Hsia]
4574    [Clark Peterson, Andrew Reimer, Brian Herzlinger]
Name: crew, Length: 4575, dtype: object

In [78]:
new_df.sample(2)

,genres,keywords,title,overview,tagline,cast,crew,imdb_id
1036,"[adventure, horror, thriller]","[amazon, jungle, anaconda, film crew, killer s...",anaconda,"A ""National Geographic"" film crew is taken hos...",When You Can't Breathe You Can't Scream.,"[Jennifer Lopez, Ice Cube, Jon Voight]","[John Papsidera, Bill Butler, Webster Whinery]",tt0118615
2455,"[drama, war]","[vietnam veteran, pennsylvania, vietnam, party...",the deer hunter,A group of working-class friends decides to en...,One of the most important and powerful films o...,"[Robert De Niro, John Cazale, John Savage]","[Michael Deeley, James Fritch, Peter Zinner]",tt0077416

In [79]:
# 2. removing spaces from each keywords, and making it a string

In [80]:
new_df["keywords"] = new_df["keywords"].apply(lambda x: " ".join(word.replace(" ","")for word in x))

C:\Users\NITIN\AppData\Local\Temp\ipykernel_14320\3398512896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["keywords"] = new_df["keywords"].apply(lambda x: " ".join(word.replace(" ","")for word in x))

In [81]:
new_df.head(2)

,genres,keywords,title,overview,tagline,cast,crew,imdb_id
0,"[action, adventure, fantasy, science fiction]",cultureclash future spacewar spacecolony socie...,avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[Stephen E. Rivkin, Rick Carter, Christopher B...",tt0154182
1,"[adventure, fantasy, action]",ocean drugabuse exoticisland eastindiatradingc...,pirates of the caribbean: at world's end,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.","[Johnny Depp, Orlando Bloom, Keira Knightley]","[Dariusz Wolski, Gore Verbinski, Jerry Bruckhe...",tt0449088

In [82]:
# make cast lowercase,  join each, make string

In [83]:
new_df["cast"] = new_df["cast"].apply(lambda x: " ".join(word.lower().replace(" ","") for word in x))

C:\Users\NITIN\AppData\Local\Temp\ipykernel_14320\333414909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["cast"] = new_df["cast"].apply(lambda x: " ".join(word.lower().replace(" ","") for word in x))

In [84]:
new_df["cast"]

0        samworthington zoesaldana sigourneyweaver
1           johnnydepp orlandobloom keiraknightley
2            danielcraig christophwaltz lÃ©aseydoux
3            christianbale michaelcaine garyoldman
4          taylorkitsch lynncollins samanthamorton
                           ...
4570
4571    carlosgallardo jaimedehoyos petermarquardt
4572         edwardburns kerrybishÃ© marshadietlein
4573            danielhenney elizacoupe billpaxton
4574    drewbarrymore brianherzlinger coreyfeldman
Name: cast, Length: 4575, dtype: object

In [85]:
new_df["crew"] = new_df["crew"].apply(lambda x: " ".join(word.lower().replace(" ","") for word in x))

C:\Users\NITIN\AppData\Local\Temp\ipykernel_14320\1012751170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["crew"] = new_df["crew"].apply(lambda x: " ".join(word.lower().replace(" ","") for word in x))

In [86]:
new_df.head(3)

,genres,keywords,title,overview,tagline,cast,crew,imdb_id
0,"[action, adventure, fantasy, science fiction]",cultureclash future spacewar spacecolony socie...,avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,samworthington zoesaldana sigourneyweaver,stephene.rivkin rickcarter christopherboyes,tt0154182
1,"[adventure, fantasy, action]",ocean drugabuse exoticisland eastindiatradingc...,pirates of the caribbean: at world's end,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",johnnydepp orlandobloom keiraknightley,dariuszwolski goreverbinski jerrybruckheimer,tt0449088
2,"[action, adventure, crime]",spy basedonnovel secretagent sequel mi6 britis...,spectre,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,danielcraig christophwaltz lÃ©aseydoux,thomasnewman sammendes annapinnock,tt1928272

In [87]:
new_df["crew"]

0           stephene.rivkin rickcarter christopherboyes
1          dariuszwolski goreverbinski jerrybruckheimer
2                    thomasnewman sammendes annapinnock
3              hanszimmer charlesroven christophernolan
4              andrewstanton andrewstanton johnlasseter
                             ...
4570                          neilldelallana iangamazon
4571    robertrodriguez robertrodriguez robertrodriguez
4572                edwardburns edwardburns edwardburns
4573                              danielhsia danielhsia
4574         clarkpeterson andrewreimer brianherzlinger
Name: crew, Length: 4575, dtype: object

In [88]:
# now make one column of cast and crew

In [89]:
new_df["cast_crew"] = new_df.apply(lambda x : " ".join(x[["cast", "crew"]].astype(str)), axis = 1)

C:\Users\NITIN\AppData\Local\Temp\ipykernel_14320\3456625329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["cast_crew"] = new_df.apply(lambda x : " ".join(x[["cast", "crew"]].astype(str)), axis = 1)

In [90]:
new_df.head(3)

,genres,keywords,title,overview,tagline,cast,crew,imdb_id,cast_crew
0,"[action, adventure, fantasy, science fiction]",cultureclash future spacewar spacecolony socie...,avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,samworthington zoesaldana sigourneyweaver,stephene.rivkin rickcarter christopherboyes,tt0154182,samworthington zoesaldana sigourneyweaver step...
1,"[adventure, fantasy, action]",ocean drugabuse exoticisland eastindiatradingc...,pirates of the caribbean: at world's end,"Captain Barbossa, long believed to be dead, ha...","At the end of the world, the adventure begins.",johnnydepp orlandobloom keiraknightley,dariuszwolski goreverbinski jerrybruckheimer,tt0449088,johnnydepp orlandobloom keiraknightley dariusz...
2,"[action, adventure, crime]",spy basedonnovel secretagent sequel mi6 britis...,spectre,A cryptic message from Bondâ€™s past sends him o...,A Plan No One Escapes,danielcraig christophwaltz lÃ©aseydoux,thomasnewman sammendes annapinnock,tt1928272,danielcraig christophwaltz lÃ©aseydoux thomasne...

In [91]:
new_df["Conclusion"] = new_df.apply(lambda x: " ".join(x[["keywords", "overview", "tagline"]].astype(str)), axis = 1)

C:\Users\NITIN\AppData\Local\Temp\ipykernel_14320\3531783548.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Conclusion"] = new_df.apply(lambda x: " ".join(x[["keywords", "overview", "tagline"]].astype(str)), axis = 1)

In [92]:
new_df.head(1)

,genres,keywords,title,overview,tagline,cast,crew,imdb_id,cast_crew,Conclusion
0,"[action, adventure, fantasy, science fiction]",cultureclash future spacewar spacecolony socie...,avatar,"In the 22nd century, a paraplegic Marine is di...",Enter the World of Pandora.,samworthington zoesaldana sigourneyweaver,stephene.rivkin rickcarter christopherboyes,tt0154182,samworthington zoesaldana sigourneyweaver step...,cultureclash future spacewar spacecolony socie...

In [93]:
new_df["Conclusion"][0]

'cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Enter the World of Pandora.'

In [94]:
new_df = new_df.drop(["keywords", "overview", "tagline", "cast", "crew"], axis = 1 )

In [95]:
new_df.head(2)

,genres,title,imdb_id,cast_crew,Conclusion
0,"[action, adventure, fantasy, science fiction]",avatar,tt0154182,samworthington zoesaldana sigourneyweaver step...,cultureclash future spacewar spacecolony socie...
1,"[adventure, fantasy, action]",pirates of the caribbean: at world's end,tt0449088,johnnydepp orlandobloom keiraknightley dariusz...,ocean drugabuse exoticisland eastindiatradingc...

In [96]:
# Encoding Genres
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
genre_tfidf = mlb.fit_transform(new_df["genres"])

In [97]:
# Encoding Cast & Crew
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words = "english")
cast_crew_tfidf = tfidf.fit_transform(new_df["cast_crew"])

In [98]:
# Encoding Conclusion
conclusion_tfidf = tfidf.fit_transform(new_df["Conclusion"])

# Now we will calculate similarity

In [100]:
from scipy.sparse import hstack

# Combine text features and genre encoding
final_features = hstack([conclusion_tfidf, cast_crew_tfidf, genre_tfidf])

In [101]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(final_features, final_features)

In [148]:
type(cosine_sim)

numpy.ndarray

In [156]:
def recommend_movies(title, df, cosine_sim, top_n=5):
    # Get the index of the movie from the title
    idx = df[df['title'] == title].index

    if len(idx) == 0:
        return "Movie not found"
    
    idx = idx[0]  # Take the first match if multiple exist
    
    # Get similarity scores for all movies
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort movies by similarity score (excluding the movie itself)
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:top_n+1]
    
    # Get the indices of the top similar movies
    movie_indices = [i[0] for i in sim_scores]
    
    # Return the recommended movies
    return df.iloc[movie_indices][['imdb_id', 'title']]

# Example usage
print(recommend_movies('avatar', new_df, cosine_sim, top_n=5))

       imdb_id                       title
43   tt1877832  x-men: days of future past
58   tt1617661           jupiter ascending
14   tt0180817                man of steel
795  tt0040852                    superman
850  tt0081573                 superman ii

In [160]:
# pickle the file

In [162]:
with open("recommend.pkl","wb") as f1:
    pickle.dump(recommend_movies, f1)

In [164]:
with open("dataframe.pkl", "wb") as f2:
    pickle.dump(new_df, f2)

In [166]:
with open("similarity.pkl", "wb") as f3:
    pickle.dump(cosine_sim, f3)